{% extends "base.html" %}

{% block title %}Code Crushers - Browse{% endblock %}

{% block styling %}{% endblock %}

{% block main %}

<div class="container mt-3">
    <div class="row">
        <div class="card-deck">
            {% for course in data %}
            <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                <img class="card-img-top" src="https://admin.marchingorder.com/uploads/2145_11aee853-b5a2-47ea-bbd7-d6a5fb1874aa.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ course['Crse Title'] }}</h5>
                    <p class="card-text">Course ID: {{ course['Sbjct'] }} {{ course['Crse'] }}<br></p>
                    <p class="card-text">Term: {{ course['Term'] }} {{ course['Year'] }}<br></p>
                    <p class="card-text">Instructor: {{ course['Instructor Name'] }}<br></p>
                    <a href="/course-{{ course['Crse Title'].replace(' ', '-') + '-' + course['index'] }}" class="stretched-link"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}